# Application Port Config
PORT=3000

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=secret_password
DB_NAME=en2h_booking_db

# Security & Tokens Configuration
JWT_SECRET=super_secure_jwt_token_key_abc_123_xyz
JWT_EXPIRATION=3600s